
/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Sections - definition for section and subsection
3.Footer
/*
1. General
**********************************************************************/
 body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    /* line-height:20px; */
}
a {
    color:#181A1C;
    text-decoration: none;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    /* color: #fff; */
}
.footer h2{
    color: #ffd700;
    text-align: 5px;
}

.navbar {
    overflow: hidden;
    background-color: #ffff66 !important;
    margin: 0 !important;
    padding: 0 5% !important;
    border-radius: 0 !important;
    display: block !important;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-fixed-top {
   min-height:5px;
    height:10px;
    padding-top:0;
}
.navbar-inner {
    background: #ffff66;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}


/*
2. Sections
***************************************************************************/
/* Submenu css*/
.navbar a {
  float: left;
  font-size: 16px;
  color:#000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:bold;
}

.navbar a:hover {
  background-color:#000 ;
  color:white;
}

/* tables css*/
/* Style the "Transactions" heading */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {background-color: #f5f5f5;}

.container {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}


/*
3. Footer
********************************************************************/
/* .footer {
    box-shadow: 0px -5px 10px 0px #ffd700;
    background-color: black;
    line-height: 1;
    text-align: left;
    font-family: "Arial Narrow", Arial, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
.footer p {
    color:lightgrey;
    margin:0;
}

.footer a{
    color:#FECE1A;
} */

.footer-fixed {
    box-shadow: 0px -5px 10px 0px #ffd700;
    background-color: black;
    line-height: 1;
    text-align: left;
    font-family: "Arial Narrow", Arial, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  .footer-fixed p {
    color: lightgrey;
    margin: 0;
  }
  .footer-fixed a {
    color: #FECE1A;
  }

.footer-relative {
    position: relative;
    width: 100%;
    clear: both;
  }
