/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Sections - definition for section and subsection
3.Footer
/*
1. General
**********************************************************************/
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.2em;
  font-size: 17px;
  /* line-height:20px; */
}
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  position: relative;
  display: grid;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

a:hover {
  color: #fece1a;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  margin: 10px;
}
p {
  padding: 10px;
  font-weight: 100;
  /* color: #fff; */
}
.footer h2 {
  color: #ffd700;
  text-align: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add left margin to create space between logo and links */
}

.navbar a {
  float: left; /* Use float instead of display: flex; */
  color: #f2f2f2;
  text-align: center;
  padding: 16px 4px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}

/* tables css*/
/* Style the "Transactions" heading */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50 !important;
  color: black;
}

.transaction-table tr {
  color: black;
}

.container {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

th {
  color: #000000;
}

.reward-container {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc;
  padding: 1px;
  margin-bottom: 20px;
}

/*
3. Footer
********************************************************************/

.footer-fixed {
  box-shadow: 0px -5px 10px 0px #ffd700;
  background-color: black;
  line-height: 1;
  text-align: left;
  font-family: "Arial Narrow", Arial, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-fixed p {
  color: lightgrey;
  margin: 0;
}
.footer-fixed a {
  color: #fece1a;
}

.footer-relative {
  position: relative;
  width: 100%;
  clear: both;
}

.chart-container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.chart-container canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

#myChart {
  width: 100%;
  height: 400px;
}

/* Images
**********************************************************/
