/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Sections - definition for section and subsection
3.Footer
/*
1. General
**********************************************************************/
/* Replace "selector" with a valid CSS selector */
selector {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins, sans-serif";
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #111111;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem; /* Fixed the value and added missing units */
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
