{% extends "base.html" %}

{% block title %}dashboard{% endblock %}
{% block content %}

<section class="home" id="home">
    <div class="home-text">
        <h1>Mastering Success,  <br><span>One Class </span>at a Time <br> with ClassMaster!</h1>
        <a href="#" class="btn">Explore Packages<i class='bx bxs-right-arrow'></i></a>
        <a href="#" class="btn2">Order Now</a>
    </div>

    <div class="home-img">
        <img src="img/hero.png">
    </div>

</section>

<!-- container -->
<section> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <h2>About Us</h2>
                    <p>ClassMaster is a web application that allows teachers to create classes and students to join classes. Teachers can award points to students in their classes and students can redeem points for rewards. </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="img/about.png">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
