{% extends "base.html" %}

{% block title %}dashboard{% endblock %}
{% block content %}

<section class="home" id="home">
    <div class="home-text">
        <h1>Mastering Success,<br><span>One Class </span>at a Time with ClassMaster!</h1>
        <a href="#" class="btn">Explore Packages<i class='bx bxs-right-arrow'></i></a>
        <a href="/login" class="btn2">Log In</a>
    </div>

    <div class="home-img">
        <img src="{{ url_for('static', filename='img/hero.png') }}" alt="Hero Image">
    </div>

</section>

<!-- container -->
<section class="container">
    <div class="container-box">
        <img src="{{ url_for('static', filename='img/c1.png') }}" alt="Service Available 24/7 Image">
        <h3>Service Available 24/7</h3>
        <a href="#">Learn More</a>
    </div>
    
    <div class="container-box">
        <img src="{{ url_for('static', filename='img/c2.png') }}" alt="Kimberly College Image">
        <h3>Kimberly College</h3>
        <a href="#">Get Directions</a>
    </div>
    
    <div class="container-box">
        <img src="{{ url_for('static', filename='img/c3.png') }}" alt="0217 47231 Image">
        <h3>0217 47231</h3>
        <a href="#">Call Us Now</a>
    </div>
    
</section>

<!-- about -->
<section class="about" id="about">
    <div class="about-img">
        <img src="{{ url_for('static', filename='img/about.png') }}" alt="About Image">
    </div>

    <div class="about-text">
        <h2>About Us</h2>
        <p>Welcome to ClassMaster, the ultimate student management app designed exclusively for teachers! With ClassMaster,
        you can effortlessly manage and reward your students for their exceptional behavior while providing them with a fun 
        and engaging way to redeem their hard-earned points for exciting rewards. Whether it's school supplies or tasty treats from the tuck shop, 
        ClassMaster makes the entire process seamless and enjoyable.</p> 
        <a href="#" class="btn">Explore Packages<i class='bx bxs-right-arrow'></i></a>
    </div>
</section>

{% endblock %}
