{% extends "base.html" %}

{% block title %}dashboard{% endblock %}
{% block content %}

<section class="home" id="home">
    <div class="home-text">
        <h1>Mastering Success,  <br><span>One Class </span>at a Time <br> with ClassMaster!</h1>
        <a href="#" class="btn">Explore Packages<i class='bx bxs-right-arrow'></i></a>
        <a href="#" class="btn2">Order Now</a>
    </div>

    <div class="home-img">
        <img src="img/hero.png">
    </div>

</section>

<!-- container -->
<section class="container">
    <div class="container-box">
        <img src="website\img\c1.png">
        <h3>Service Availible 24/7</h3>  
        <a href="#">Learn More</a> 
    </div>

    <div class="container-box">
        <img src="website\img\c2.png">
        <h3>Kimberly college</h3>
        <a href="#">Get Directions</a>  
    </div>

    <div class="container-box">
        <img src="website\img\c3.png">
        <h3>0217 47231</h3>
        <a href="#">Call Us Now</a>  
    </div>
</section>

{% endblock %}
