{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<section class="login" id="login">
    <div class="form-box">
        <div class="form-value">
            <form method="POST" class="sign-up-form">
                <h2>Sign Up</h2>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" required id="first_name" name="first_name" placeholder="First Name" />
                </div>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" required id="last_name" name="last_name" placeholder="Last Name" />
                </div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" required id="email" name="email" placeholder="Email" />
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required id="password1" name="password1" placeholder="Password" />
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required id="password2" name="password2" placeholder="Confirm Password" />
                </div>
                <div class="inputbox">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <select class="form-control" id="role" name="role">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="background-img">
        <img src="{{ url_for('static', filename='img/orange and black.jpg') }}" alt="OaB">
    </div>
</section>
{% endblock %}
