{% extends "base.html" %}

{% block title %}Teacher Requests History{% endblock %}

{% block content %}
  <h1>Teacher Request History</h1>
  <div class="container">
    {% for request in requests %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ request.user.user_name }}</h5>
        <p class="card-text">Status: {{ request.status }}</p>
        <p class="card-text">Role requested on: {{ request.user.role_requested_on }}</p>
        {% if request.status == "accepted" %}
          <p class="card-text">Date accepted: {{ request.date_resolved }}</p>
          <p class="card-text">Accepted by: {{ request.resolved_by.user_name }} {{ request.resolved_by.last_name }}</p>
        {% elif request.status == "rejected" %}
          <p class="card-text">Date rejected: {{ request.date_resolved }}</p>
          <p class="card-text">Rejected by: {{ request.resolved_by.user_name }} </p>
        {% endif %}
      </div>
    </div>
{% endfor %}
  </div>
{% endblock %}