{% extends "base.html" %}

{% block title %}Teacher page{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div id="myChartContainer">
      <canvas id="myChart"></canvas>
    </div>
    <p class="text-center mt-2">Points Remaining: {{ current_user.remaining_points }}</p>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Year Group</th>
      <th>Subject</th>
      <th>Points Awarded</th>
    </tr>
  </thead>
  <tbody>
    {% for class in classes %}
      <tr>
        <td>{{ class.name }}</td>
        <td>{{ class.year_group }}</td>
        <td>{{ class.subject }}</td>
        <td>{{ class.points_awarded }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script src="{{ url_for('static', filename='js/teacher.js') }}"></script>
</div>
{% endblock %}
