{% extends "base.html" %}

{% block title %}Teacher page{% endblock %}
{% block content %}


<div class="container">
  <h1>Transactions</h1>
  <p>Enter the student's email and the amount you'd like to increase their balance by.</p>
  <form method="POST" action="{{ url_for('auth.transactions') }}">
      <div class="form-group">
          <label for="student_email">Student Email:</label>
          <input type="email" class="form-control" id="student_email" name="student_email" required>
      </div>
      <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" class="form-control" id="amount" name="amount" min="1" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="container">
  <h2>Join Requests</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Class</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for join_request in join_requests %}
      <tr>
        <td>{{ join_request.student.user_name }}</td>
        <td>{{ join_request.class_.name }}</td>
        <td>{{ join_request.status }}</td>
        <td>
          <a href="{{ url_for('auth.respond_join_request', join_request_id=join_request.id, action='accept') }}" class="btn btn-primary">Accept</a>
          <a href="{{ url_for('auth.respond_join_request', join_request_id=join_request.id, action='reject') }}" class="btn btn-danger">Reject</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}



