<div class="navbar">
  <a href="#" class="logo"><img src="https://i.imgur.com/fWuJQrE.png" alt="Logo" /></a>
  <ul class="nav-list">
    {% if user.is_authenticated and user.role.name == 'admin' %}
      <li class="nav-item"><a class="nav-link" href="/admin">Admin Panel</a></li>
      <li class="nav-item"><a class="nav-link" href="/user_overview">User overview</a></li>
      <li class="nav-item"><a class="nav-link" href="/teacher_requests_history">Request history</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    {% elif user.is_authenticated and user.role.name == 'teacher' %}
      <li class="nav-item"><a class="nav-link" href="/award_points">Award Points</a></li>
      <li class="nav-item"><a class="nav-link" href="/create_class">Class Creation</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.join_request') }}">Join Requests</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    {% elif user.is_authenticated and user.role.name == 'student' %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.student', student_id=current_user.id) }}">Join Class</a></li>
      <li class="nav-item"><a class="nav-link" href="/student_rewards">Redeem Points</a></li>
      <li class="nav-item"><a class="nav-link" href="/dashboard">Student Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="/landing">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/sign_up">Sign up</a></li>
      <li class="nav-item"><a href="#contact">Contact Us</a></li>
    {% endif %}
  </ul>
</div>

