<div class="navbar">
  {% if user.is_authenticated and user.role.name == 'admin' %}
  <a class="nav-item nav-link" id="login" href="/admin">Admin Panel</a>
  <a class="nav-item nav-link" id="login" href="/teacher_requests_history">request history</a>
  <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% elif user.is_authenticated %}
  <a class="nav-item nav-link" id="login" href="/">Profile</a>
  <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% else %}
  <a class="nav-item nav-link" id="login" href="/landing">Home</a>
  <a class="nav-item nav-link" id="login" href="/login">Login</a>
  <a class="nav-item nav-link" id="login" href="/sign_up">sign up</a>
{% endif %}
  <a href="#contact">Contact Us</a>
</div>
